name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout manual
        uses: actions/checkout@v4

      - name: Checkout axioms-of-adaptivity
        uses: actions/checkout@v4
        with:
          repository: rapgru/axioms-of-adaptivity
          path: axioms_of_adaptivity

      - name: Move axioms to correct location
        run: mv axioms_of_adaptivity ../axioms_of_adaptivity

      - name: Cache .lake
        uses: actions/cache@v4
        with:
          path: .lake
          key: ${{ runner.os }}-lake-${{ hashFiles('lake-manifest.json', 'lean-toolchain') }}
          restore-keys: |
            ${{ runner.os }}-lake-

      - name: Install Elan and Lean
        uses: leanprover/lean-action@v1
        with:
          build: false

      - name: Get Mathlib cache
        run: lake exe cache get

      - name: Build Docs
        run: lake exe docs

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _out/html-multi

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
